* {
  margin: 0;
  padding: 0;
}

.about-sec {
  background-color: rgb(82, 82, 247);
  display: flex;
  justify-content: space-around;
  padding: 16%;
}

.first-col {
  text-align: end;
}

.first-col h3 {
  color: white;
}

.first-col div {
  color: rgb(255, 187, 0);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.first-col p {
  color: #fff;
  font-size: 13px;
}

.line-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -15px;
  left: 150px;
}

.line-sec hr {
  width: 100px;
  background-color: #ff0000 !important;
  opacity: 1;
  right: 10px;
  height: 3px !important;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

.line-sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -15px;
  left: -140px;
}

.line-sec2 hr {
  width: 100px;
  background-color: #ff0000 !important;
  opacity: 1;
  right: 10px;
  height: 3px !important;
}

.second-col {
  text-align: start;
}

.second-col p span {
  color: rgb(255, 187, 0);
  font-size: 14px;
  font-weight: 600;
}

.second-col p {
  color: #fff;
  line-height: 18px;
}

.second-col h4 {
  color: #fff;
}

.about-div {
  position: relative;
}

.about-div span {
  font-size: 150px;
  font-weight: 800;
  color: rgb(116, 116, 232);
  position: absolute;
  left: 8%;
}

/*  */

.proccess-sec {
  display: flex;
  justify-content: space-evenly;
  background-color: #ff0a54;
  color: #fff;
}

.proccess-sec p {
  text-align: justify;
  font-size: 16px;
  line-height: 20px;
}

.my-head {
  font-size: 26px;
  margin: 2% 0 0 2% !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.line-sec3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -5px;
  right: 20%;
  margin-bottom: 4%;
}

.dot2 {
  height: 12px;
  width: 12px;
  background-color: rgb(255, 187, 0);
  border-radius: 50%;
  display: inline-block;
}

.line-sec3 hr {
  width: 600px;
  background-color: rgb(255, 187, 0) !important;
  opacity: 1;
  right: 10px;
  height: 3px !important;
}

.dot3 {
  height: 100px;
  width: 100px;
  background-color: rgb(255, 187, 0);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 78%;
  left: -15%;
  z-index: 1;
}

.process-div {
  position: relative;
  padding-bottom: 20%;
}

.process-div span {
  font-size: 150px;
  font-weight: 800;
  color: #f25282ea;
  position: absolute;
  right: 18%;
}

/*  */

.section-testimonial {
  display: flex;
  justify-content: space-evenly;
  background: #d100d1;
  padding: 20vh 0;
}

.arrows {
  display: flex;
  margin-top: 20px;
}

.left-side,
.right-side {
  background-color: #d50337;
  border-radius: 50%;
  margin: 10px;
  padding: 6px 10px;
  color: #fff;
}

.card {
  padding: 30px;
  border-radius: 6% !important;
  text-align: center;
  position: relative;
  z-index: 9999999;
}

.card-text {
  font-size: 14px;
  margin: 20px 0;
}

.testimonial-one {
  display: flex;
  justify-content: end;
}

.card-body div {
  font-size: 16px;
  font-weight: 800;
}

.founder {
  color: #ff0a54;
}

.testimonial-two p {
  font-size: 50px;
  color: rgb(255, 187, 0);
}
.testimonial-two h1 {
  color: #fff;
}

.line-sec4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -35px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #d50337;
  border-radius: 50%;
  display: inline-block;
}

.line-sec4 hr {
  width: 500px;
  background-color: #d50337 !important;
  opacity: 1;
  right: 10px;
  height: 3px !important;
}

.purple {
  height: 460px;
  width: 340px !important;
  background-color: blue;
  position: relative;
  top: -535px;
  left: 26%;
  z-index: 10;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .proccess-sec {
    text-align: center;
  }
  .my-head {
    padding-bottom: 30px;
  }

  .testimonial-two {
    text-align: center;
  }
  .about-sec {
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }

  .line-sec {
    left: 0;
    top: 0;
  }

  .line-sec2 {
    left: 0;
    top: 0;
  }

  .line-sec hr {
    width: 80px;
    right: 0;
  }

  .line-sec2 hr {
    width: 80px;
    right: 0;
  }

  .first-col,
  .second-col {
    text-align: center;
  }

  .first-col h3,
  .second-col h4,
  .first-col div,
  .second-col p,
  .my-head {
    text-align: center;
  }

  .dot,
  .dot2,
  .dot3 {
    height: 8px;
    width: 8px;
  }

  .purple {
    display: none;
  }
  .about-div,
  .process-div {
    display: none !important;
  }

  .arrows {
    justify-content: center;
    align-items: center;
  }

  .line-sec4,
  .line-sec3 {
    display: none;
  }
}
